[Unit]
Description=arrowhead-gatekeeper
After=network.target mysql.target arrowhead-serviceregistry-sql.service
Requires=arrowhead-serviceregistry-sql.service arrowhead-authorization.service arrowhead-gateway.service

[Service]
WorkingDirectory=/etc/arrowhead/systems/gatekeeper
ExecStart=/usr/bin/java -jar /usr/share/arrowhead/arrowhead-gatekeeper.jar -d -daemon -tls
TimeoutStopSec=5
Type=simple
User=arrowhead
Group=arrowhead

[Install]
WantedBy=default.target
