[Unit]
Description=arrowhead-gatekeeper
After=network.target mysql.target arrowhead-serviceregistry-sql.service arrowhead-authorization.service arrowhead-gateway.service
Requires=arrowhead-serviceregistry-sql.service arrowhead-authorization.service arrowhead-gateway.service

[Service]
WorkingDirectory=/etc/arrowhead/gatekeeper
ExecStart=/usr/bin/java --add-modules java.xml.bind -jar /usr/share/arrowhead/systems/arrowhead-gatekeeper-4.0.jar -d -daemon -tls
TimeoutStopSec=5
Type=simple
User=arrowhead
Group=arrowhead

[Install]
WantedBy=default.target
