[Unit]
Description=arrowhead-serviceregistry-sql
After=network.target mysql.target

[Service]
WorkingDirectory=/etc/arrowhead/systems/service_registry_sql
ExecStart=/usr/bin/java -jar /usr/share/arrowhead/arrowhead-serviceregistry-sql.jar -d -daemon -tls
ExecStartPost=/bin/bash -c 'sleep 1; while ! grep -m1 "startup completed." /var/log/arrowhead/service_registry_sql.log; do sleep 1; done'
TimeoutStopSec=5
Type=simple
User=arrowhead
Group=arrowhead

[Install]
WantedBy=default.target
